#MainBoxDIv {
  border: 1px solid lightgray;
  height: 90px;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
}

#gridBox {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1;
  padding: 8px;
  gap: 9px;
}

#insideGridBox {
  border: 1px solid red;
  height: 70px;
  border-radius: 32px;
  background-color: pink;
}

#ImgaeTag {
  cursor: pointer;
  border: 1px solid yellow;
  height: 100%;
  width: 100%;
  border-radius: 35px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  #MainBoxDIv {
    border: 1px solid lightgray;
    height: 60px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
  }
  #gridBox {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
    padding: 8px;
    gap: 9px;
  }

  #insideGridBox {
    border: 1px solid red;
    height: 40px;
    border-radius: 32px;
    background-color: pink;
  }

  #ImgaeTag {
    cursor: pointer;
    border: 1px solid yellow;
    height: 100%;
    width: 100%;
    border-radius: 35px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  #MainBoxDIv {
    border: 1px solid lightgray;
    height: 60px;
    width: 288%;
    margin: auto;
    margin-left: -10px;
    margin-top: 15px;
    border-radius: 10px;
  }
  #gridBox {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
    padding: 8px;
    gap: 9px;
  }

  #insideGridBox {
    border: 1px solid red;
    height: 40px;
    border-radius: 32px;
    background-color: pink;
  }

  #ImgaeTag {
    cursor: pointer;
    border: 1px solid yellow;
    height: 100%;
    width: 100%;
    border-radius: 35px;
  }
}
