@media all and (min-width: 320px) and (max-width: 767px) {
  #SidebarBody {
    /* border: 1px solid yellow; */
    display: grid;
    margin-left: 20px;
  }
  #sidebar {
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    margin-left: -10px;
  }
}
